<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cluster Visualization</title>
    <link rel="stylesheet" href="/static/visualize.css" />
</head>
<body>
    <div class="container">
        <h1>Cluster Visualization</h1>
        <h3>Model Used: {{ model_name }}</h3>
        <img src="{{ image_path }}" alt="Cluster Visualization" />
        <a href="/">Go Back</a>
    </div>
</body>
</html>
